<div class="abs-center wd-xl">
    <!-- START panel-->
    <div class="text-center mb-xl">
        <div class="text-lg mb-lg">Access Denied</div>
        <p class="lead m0">You are not Authorized to View this Page.</p>
        <p>Please Contact Administrator.</p>
    </div>
    <div class="input-group mb-xl">
        <input placeholder="Try with a search" class="form-control" type="text">
        <span class="input-group-btn">
            <button type="button" class="btn btn-default">
                <em class="fa fa-search"></em>
            </button>
        </span>
    </div>
    <ul class="list-inline text-center text-sm mb-xl">
        <li>
            <a href="~/Home/Index" class="text-muted">Go to Homepage</a>
        </li>
       
        
    </ul>
    <div class="p-lg text-center">
        <span>&copy;</span>
        <span>@DateTime.Now.Year</span>
        <span>-</span>
        <span>ECP</span>
        <br>
        <span>Election Commission of Pakistan</span>
    </div>
</div>
