<div class="abs-center wd-xl"  style="height:50%;left:10%;position:fixed">
    <!-- START panel-->
    <div class="text-center mb-xl">
        <em class="fa fa-chain-broken fa-10x text-primary"></em>
        <div class="text-lg mb-lg">404</div>
        <p class="lead m0">We couldn't find this page.</p>
        <p>The page you are looking for does not exists.</p>
    </div>
   
    @Html.Partial("../Error/ErrorFooter")
</div>